<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donavan.visaulfusion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project Lighthouse v1.8"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenu"
            android:label="Home Menu" />
        <activity
            android:name=".RepHomeActivity"
            android:label="Home" />
        <activity
            android:name=".RepStoreDetailsActivity"
            android:label="Store Details" />
        <activity
            android:name=".RepItemsActivity"
            android:label="Select Item Quantities" />
        <activity
            android:name=".RepExtraDetailsActivity"
            android:label="Extra Details" />
        <activity
            android:name=".RepSelectStoreForUnitry"
            android:label="Select Store" />
        <activity
            android:name=".RepProgressActivity"
            android:label="View Store Progress" />
        <activity
            android:name=".RepInfoActivity"
            android:label="Store Info" />
        <activity
            android:name=".RepAgreement"
            android:label="Store Agreement" />
        <activity
            android:name=".RepValidatedActivity"
            android:label="Validate Store" />
        <activity
            android:name=".TssHome"
            android:label="Tss Home" />
        <activity
            android:name=".TssOpenRequests"
            android:label="Tss Open Requests" />
        <activity
            android:name=".TssAcceptRequest"
            android:label="Tss Accept Request" />
        <activity
            android:name=".TssAppointments"
            android:label="View Tss Appointments" />
        <activity
            android:name=".TssSetAppointment"
            android:label="Set Tss Appointment" />
        <activity
            android:name=".TssSelectStoreForUnitry"
            android:label="Select Store" />
        <activity
            android:name=".TssUnitaryList"
            android:label="Unitary List" />
        <activity
            android:name=".RepUnitaryList"
            android:label="Unitary List" />
        <activity
            android:name=".TssUploadActivity"
            android:label="Tss Uploads" />
        <activity
            android:name=".TssValidateStore"
            android:label="Tss Validate Install" />
        <activity
            android:name=".WareHouseHomeActivity"
            android:label="Warehouse Home" />
        <activity
            android:name=".WarehouseOpenRequests"
            android:label="Warehouse Open Requests" />
        <activity
            android:name=".WareHouseAcceptRequest"
            android:label="Accept Warehouse Request" />
        <activity
            android:name=".WarehouseViewAccepted"
            android:label="Warehouse Appointments" />
        <activity
            android:name=".WarehouseSetAppointment"
            android:label="Set Warehouse Appointment" />
        <activity
            android:name=".WarehouseSelectStoreForUnitry"
            android:label="Select Store" />
        <activity
            android:name=".WarehouseUnitryList"
            android:label="Warehouse Unitary List" />
        <activity
            android:name=".WareHouseUnitary"
            android:label="Ware House Unitary" />
        <activity
            android:name=".InstallHome"
            android:label="Installation Team Home" />
        <activity
            android:name=".InstallOpenRequests"
            android:label="Installation Open Requests" />
        <activity
            android:name=".InstallAcceptRequest"
            android:label="Accept Installation Request" />
        <activity
            android:name=".InstallAppointments"
            android:label="Appointments" />
        <activity
            android:name=".InstallSetAppointment"
            android:label="Installation Appointment" />
        <activity
            android:name=".InstallSelectStoreForUnitry"
            android:label="Select Store" />
        <activity
            android:name=".InstallUnitaryList"
            android:label="Install Unitary List" />
        <activity
            android:name=".InstallUploadActivity"
            android:label="Installation Uploads " />
        <activity
            android:name=".InstallValidateStore"
            android:label="Validate Installation" />
        <activity
            android:name=".ManagementHome"
            android:label="Managment Home" />
        <activity
            android:name=".ManagmentSelectBrand"
            android:label="Brand Report" />
        <activity
            android:name=".ManagmentSelectReport"
            android:label="Select Progress Report" />
        <activity
            android:name=".ManagmentReportViews"
            android:label="Progress Report" />
        <activity
            android:name=".ManagmentStoreDetails"
            android:label="Store Details" />
        <activity
            android:name=".ManagmentSelectOverall"
            android:label="Select Report" />
        <activity
            android:name=".ManagmentViewOverallReport"
            android:label="Overal Report" />
        <activity
            android:name=".ManagmentSearch"
            android:label="Search Stores" />
        <activity
            android:name=".ManagmentTeamManagment"
            android:label="Team Managment" />
        <activity
            android:name=".ManagmentTssTeam"
            android:label="View Team" />
        <activity
            android:name=".ManagmentViewTeam"
            android:label="View Team Info" />
        <activity android:name=".UploadImage" />
        <activity
            android:name=".UploadPhoto"
            android:label="Upload Photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UploadMenu" />
        <activity
            android:name=".InstallGpsCheckin"
            android:label="Install Checkin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstallGpsCheckOut"
            android:label="Install Checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstallGpsCheckoutSiteComplete"
            android:label="Check Out Confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadPhotoPrelim"
            android:label="@string/title_activity_upload_photo_prelim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signature"
            android:label="Signature" />
        <activity
            android:name=".SurveyActivity"
            android:label="Survey"
            />
        <activity android:name=".YesNoUnit"
        android:label="Yes No Unit"
        android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>